<div class="cards-grid">
    <div class="game-row" ng-class="{'referenceRow center' : $first}" ng-repeat="row in chunks" >
        <div class="game-col" ng-class="{'referenceCol colCenter' : $first}" ng-repeat="c in row track by $index" ng-switch on="c.index">
            <span ng-switch-default><strong>{{c.index}}</strong></span>

            <flippy class="fancy" ng-click="flip()" ng-switch-when="undefined"
                    on-load-callback="handleSelection(c, t)" item="c" index="c.ref">
                <flippy-front class="transiction">
                    <img ng-src="content/imgs/placeholder.png">
                </flippy-front>

                <flippy-back class="transiction">
                    <img ng-src="data/imgs/{{c.picture}}">
                </flippy-back>
            </flippy>
        </div>
    </div>
</div>